body{
  height: 200px;
  width: 150px;
  margin: 0px;
  text-align: center;
}
button{
  margin-bottom: 10px;
}

.popup{

}

.cookie-monster{
  height: 90px;
  width: 150px;
  transform: scaleY(-1);
  object-fit: cover;
}
